@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	margin: 0;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

.slide {
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
}

.slide.active {
  transform: translateX(-100%);
}

.info {
  width: 300px;
  height: 150px;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 75px;
  left: 30px;
  padding: 20px 15px;
  text-align: center;
  color: #333;
  opacity: 0;
}
.slide.active .info {
  opacity: 1;
  transform: translateY(-40px);
  transition: all 0.5s ease-in-out 0.6s;
}

.slide .info h1 {
  margin-bottom: 10px;
}

.slide .info p {
  letter-spacing: 1px;
}


.eraser {
  position: absolute;
  transition: transform .7s ease-in-out;
  background: #fff;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.eraser.active {
  transform: translateX(-100%);
}

.button-container{
  position: relative;
  top: 90%;
  left: calc(100% - 180px);
}

.button{
  background: transparent;
  color: #fff;
  padding: 5px 20px;
  border: 2px #fff solid;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background: #fff;
  color: #333;
}